services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: njmtech-vercel-blob
    command: uvicorn api.main:app --host 0.0.0.0 --port 8000 --reload
    restart: unless-stopped
    ports:
      - "8008:8000"
    env_file:
      - .env
    volumes:
      - .:/code
